extends layout
block content
	h2= "Total "+edges.length+" edges"

	table.table.table-striped
		tr
			th
				h3= "Child"
			th
				h3= "Parent"
		for edge in edges
			tr
				- if (typeof edge.source != 'undefined' && typeof edge.target != 'undefined')
					td= edge.target.absPath
					td= edge.source.absPath