extends layout
block content
    h1 Urls 
    h2= "Total "+urls.length+" urls"
    table.table.table-striped
        tr
            th= "URL"
            th= "Downloaded"
            th= "Parse Time"
            th= "Page Rank"
            for url in urls
                tr
                    td= url.absPath
                    td= url.downloaded
                    td= url.parseTime
                    td= url.pageRank